// Camila
//media screen 320px
    
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.firstblock {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    height: 100vh;
   
    .material-icons{
        color: white;
        size: 10px;
    }
    background-color: #0069fe;

    .button1 {
        border-radius: 25px;
        background-color: white;
        color: #0069fe   
        
    }
    .button2 {
        background-color: #0069fe;
        color: white;
        border: 3px solid white;
        border-radius: 25px;
    }
}

.secondblock {
    background-color: #f1f6f7;
    .ourservices, h2 {
        text-align: center;
        
}

.biggraphic, .bigweb, .bigdigital {
    background-color: white;
    display: block;
    border: 15px solid #f1f6f7;
    padding: 5px;
}


.graphisdesign {
    display: flex;
    justify-content: space-around;
}

.digitalmarketing {
    display: flex;
    justify-content: space-around;
}

.webdesign {
    display: flex;

    justify-content: space-around;
}

.brush, .frame, .bolt {
width: 130px;
}

.graphicsdesign {
    display: flex;
    align-items: center;
    
}

.ourservices {
    color: rgb(108 108 108);
}
.learnmore {
    color: #0069fe;
    background-color: white;
    border: none;
    font-weight: bold;
}
.services {
    display: flex;
    flex-direction: column;
}

}

.thirdblock {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(108 108 108);

    nav {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    h2 { color: black;

    }

    .allwork {
        background: -webkit-linear-gradient(90deg, rgb(0, 112, 251), rgb(0, 216, 224));
        background: linear-gradient(90deg, rgb(0, 112, 251), rgb(0, 216, 224));
        color: white;
        border-radius: 25px;
        border: none;
    }

    .marketing, .planning, .research {
        color: rgb(108 108 108);
        border-radius: 25px;
        border: none;
        background-color: white;
    }


}